Repository awspring/spring-cloud-aws, changes with the labels that .github/labeler.yml gives for each.
All labels: component: core, component: cloudwatch, component: s3, component: parameter-store, component: secrets-manager, component: dynamodb, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

.github/labeler.yml:

"component: core":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/core/*
  - spring-cloud-aws-core/**/*
"component: cloudwatch":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/metrics/*
"component: s3":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/s3/**/*
  - spring-cloud-aws-s3-parent/**/*
"component: parameter-store":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/parameterstore/*
  - spring-cloud-aws-parameter-store/**/*
"component: secrets-manager":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/secretsmanager/*
  - spring-cloud-aws-secrets-manager/**/*
"component: dynamodb":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/dynamodb/*
  - spring-cloud-aws-dynamodb/**/*
"component: ses":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/ses/*
  - spring-cloud-aws-ses/**/*
"component: sns":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sns/*
  - spring-cloud-aws-sns/**/*
"component: sqs":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sqs/*
  - spring-cloud-aws-sqs/**/*
"status: waiting-for-triage":
  - ./*
  - ./**/*
"type: documentation": docs/**/*
"type: dependency-upgrade":
  - pom.xml
  - spring-cloud-aws-dependencies/pom.xml

Issue-1041: Remove useless configuration in SqsEndpoint
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/SqsEndpoint.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/SqsMessageListenerContainerFactory.java
Labels: component: sqs, status: waiting-for-triage

Issue-1041: Remove useless configuration in SqsEndpoint again..
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/SqsEndpoint.java
Labels: component: sqs, status: waiting-for-triage

Fix MessagingMessageConverter to handle JSON strings configured with the Application_JSON header
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SqsMessagingMessageConverter.java
Labels: component: sqs, status: waiting-for-triage

Fix ensure correct object mapper is used in SqsMessagingMessageConverter
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/AbstractMessagingMessageConverter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SqsMessagingMessageConverter.java
Labels: component: sqs, status: waiting-for-triage

Fix getTargetType to pass all conditions
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/AbstractMessagingMessageConverter.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageConversionIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

Add SQS module @SnsNotificationMessage batch messages support
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SnsMessageConverter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/resolver/NotificationMessageArgumentResolver.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageConversionIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Refactor code
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/AbstractMessagingMessageConverter.java
Labels: component: sqs, status: waiting-for-triage

Refactor shouldSendAndReceiveJsonString Test Chaining
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

Refactor jsonString indent
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

Issue-1041: Improve documentation and rename batchGroupingStrategy property to fifoBatchGroupingStrategy
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoBatchGroupingStrategy.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoSqsComponentFactory.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsFifoIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Issue-1041: Fix format
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsFifoIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

Don't assume all messages have a to address.
  spring-cloud-aws-ses/src/main/java/io/awspring/cloud/ses/SimpleEmailServiceMailSender.java
  spring-cloud-aws-ses/src/test/java/io/awspring/cloud/ses/SimpleEmailServiceMailSenderTest.java
Labels: component: ses, status: waiting-for-triage

Update Delete operations to return object.
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbOperations.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbTemplate.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
Labels: component: dynamodb, status: waiting-for-triage

Update Delete operations to return object. (#1185)
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbOperations.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbTemplate.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
Labels: component: dynamodb, status: waiting-for-triage

Merge main into branch
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
  spring-cloud-aws-dependencies/pom.xml
Labels: component: s3, status: waiting-for-triage, type: dependency-upgrade

Merge main into branch
  .idea/vcs.xml
Labels: status: waiting-for-triage

Add SQS QueueNotFoundStrategy auto-configuration support
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationIntegrationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Polishing
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageConversionIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Add autoconfiguration for queue not found strategy (#1190)
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationIntegrationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Issue-1041: Fix format
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoBatchGroupingStrategy.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoSqsComponentFactory.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsFifoIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Polishing
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoBatchGroupingStrategy.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoSqsComponentFactory.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsFifoIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Batch SnsNotification Support (#1191)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SnsMessageConverter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/resolver/NotificationMessageArgumentResolver.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageConversionIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Enable receiving messages from different message groups in the same Batch for FIFO queues (#1192)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoBatchGroupingStrategy.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoSqsComponentFactory.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsFifoIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Polishing
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListenerAnnotationBeanPostProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/BatchVisibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/QueueMessageBatchVisibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/QueueMessageVisibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/resolver/BatchVisibilityHandlerMethodArgumentResolver.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/resolver/VisibilityHandlerMethodArgumentResolver.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/support/resolver/BatchVisibilityArgumentResolverTests.java
Labels: component: sqs, status: waiting-for-triage

Add MessageConverter AutoConfiguration
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
Labels: component: sqs, status: waiting-for-triage

Polishing
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs, status: waiting-for-triage

Add BatchVisibility listener method parameter (#1193)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/CollectionUtils.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListener.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListenerAnnotationBeanPostProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/AbstractEndpoint.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/BatchVisibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/QueueMessageBatchVisibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/QueueMessageVisibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/acknowledgement/AbstractOrderingAcknowledgementProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/resolver/BatchVisibilityHandlerMethodArgumentResolver.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Polishing
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
Labels: component: sqs, status: waiting-for-triage

Enable SqsMessagingMessageConverter to handle JSON strings configured with the Application_JSON header
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/AbstractMessagingMessageConverter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SqsMessagingMessageConverter.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageConversionIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

Polishing
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/AbstractMessagingMessageConverter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SqsMessagingMessageConverter.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

Polishing
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

Add MessageConverter to AutoConfiguration (#1194)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs, status: waiting-for-triage

Polishing
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/AbstractMessagingMessageConverter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SimpleClassMatchingMessageConverter.java
Labels: component: sqs, status: waiting-for-triage

Polishing
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SimpleClassMatchingMessageConverter.java
Labels: component: sqs, status: waiting-for-triage

Polishing
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs, status: waiting-for-triage

Enable SqsMessagingMessageConverter to handle JSON Strings with JSON Mime Type (#1195)
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/AbstractMessagingMessageConverter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SimpleClassMatchingMessageConverter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SqsMessagingMessageConverter.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageConversionIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

Add extra message for SQS exceptions in QueueAttributesResolver
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/QueueAttributesResolver.java
Labels: component: sqs, status: waiting-for-triage

Fix method name in S3 AsciiDoc (#1151)
  docs/src/main/asciidoc/s3.adoc
Labels: status: waiting-for-triage, type: documentation

Make getUrl return location of bucket if object is empty or null. (#1158)
  spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Resource.java
  spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3ResourceIntegrationTests.java
Labels: status: waiting-for-triage

Don't assume all messages have a `to` address in SES. (#1174)
  spring-cloud-aws-ses/src/main/java/io/awspring/cloud/ses/SimpleEmailServiceMailSender.java
  spring-cloud-aws-ses/src/test/java/io/awspring/cloud/ses/SimpleEmailServiceMailSenderTest.java
Labels: component: ses, status: waiting-for-triage
