Repository awspring/spring-cloud-aws, changes with the labels that .github/labeler.yml gives for each.
All labels: component: core, component: cloudwatch, component: s3, component: parameter-store, component: secrets-manager, component: dynamodb, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

.github/labeler.yml:

"component: core":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/core/*
  - spring-cloud-aws-core/**/*
"component: cloudwatch":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/metrics/*
"component: s3":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/s3/**/*
  - spring-cloud-aws-s3-parent/**/*
"component: parameter-store":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/parameterstore/*
  - spring-cloud-aws-parameter-store/**/*
"component: secrets-manager":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/secretsmanager/*
  - spring-cloud-aws-secrets-manager/**/*
"component: dynamodb":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/dynamodb/*
  - spring-cloud-aws-dynamodb/**/*
"component: ses":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/ses/*
  - spring-cloud-aws-ses/**/*
"component: sns":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sns/*
  - spring-cloud-aws-sns/**/*
"component: sqs":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sqs/*
  - spring-cloud-aws-sqs/**/*
"status: waiting-for-triage":
  - ./*
  - ./**/*
"type: documentation": docs/**/*
"type: dependency-upgrade":
  - pom.xml
  - spring-cloud-aws-dependencies/pom.xml

update readme
  README.md
Labels: status: waiting-for-triage

Rename to Spring standard
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/ConfigStoreRuntimeHints.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/spring/aot.factories
  spring-cloud-aws-core/src/main/java/io/awspring/cloud/core/AWSCoreRuntimeHints.java
  spring-cloud-aws-core/src/main/resources/META-INF/spring/aot.factories
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3RuntimeHints.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/resources/META-INF/spring/aot.factories
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/SnsRuntimeHints.java
  spring-cloud-aws-sns/src/main/resources/META-INF/spring/aot.factories
Labels: component: core, component: s3, component: sns, status: waiting-for-triage

Added integration test
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/imds/ImdsAutoConfigurationIntegrationTest.java
Labels: status: waiting-for-triage

Fix QueueAttributesResolver throws when creating Fifo queue (#995)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/QueueAttributesResolver.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/QueueAttributesResolverIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

fix : typo
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

Assert queues are all the same type in setQueueNames so applications fail to start rather than throwing endless Executor errors.
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsMessageListenerContainer.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/SqsMessageListenerContainerTests.java
Labels: component: sqs, status: waiting-for-triage

Fix QueueAttributesResolver throws when creating Fifo queue (#995) (#1002)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/QueueAttributesResolver.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/QueueAttributesResolverIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage

Update action versions
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

SES configurationSetName is configurable via properties Fixes gh-1006
  docs/src/main/.DS_Store
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/ses.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/ses/SesAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/ses/SesProperties.java
  spring-cloud-aws-ses/src/main/java/io/awspring/cloud/ses/SimpleEmailServiceJavaMailSender.java
  spring-cloud-aws-ses/src/main/java/io/awspring/cloud/ses/SimpleEmailServiceMailSender.java
  spring-cloud-aws-ses/src/test/java/io/awspring/cloud/ses/SimpleEmailServiceJavaMailSenderTest.java
  spring-cloud-aws-ses/src/test/java/io/awspring/cloud/ses/SimpleEmailServiceMailSenderTest.java
Labels: component: ses, status: waiting-for-triage, type: documentation

remove ds store
  docs/src/main/.DS_Store
Labels: status: waiting-for-triage, type: documentation

Add enabled flag to Secrets Manager integration.
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoader.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataResource.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/main/java/io/awspring/cloud/s3/crossregion/AbstractCrossRegionS3Client.java
Labels: component: s3, component: secrets-manager, status: waiting-for-triage

formatting
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoader.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/main/java/io/awspring/cloud/s3/crossregion/AbstractCrossRegionS3Client.java
Labels: component: s3, component: secrets-manager, status: waiting-for-triage

polish
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataResource.java
Labels: component: secrets-manager, status: waiting-for-triage

Fix generating config props file.
  docs/pom.xml
  docs/src/main/asciidoc/_configprops.adoc
Labels: status: waiting-for-triage, type: documentation

Fix generating config props file.
  docs/src/main/asciidoc/_configprops.adoc
Labels: status: waiting-for-triage, type: documentation

Add missing properties.
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
Labels: component: secrets-manager, status: waiting-for-triage

Fix generating config props asciidoc file (#1010)
  docs/pom.xml
  docs/src/main/asciidoc/_configprops.adoc
Labels: status: waiting-for-triage, type: documentation

Fix documentation
  docs/src/main/asciidoc/core.adoc
Labels: status: waiting-for-triage, type: documentation

Add BackOff when SQS Poll throws an exception
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/AbstractContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSource.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/ContainerOptionsTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSourceTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Update docs
  docs/src/main/asciidoc/secrets-manager.adoc
Labels: status: waiting-for-triage, type: documentation

SES `configurationSetName` is configurable via properties (#1007)
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/ses.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/ses/SesAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/ses/SesProperties.java
  spring-cloud-aws-ses/src/main/java/io/awspring/cloud/ses/SimpleEmailServiceJavaMailSender.java
  spring-cloud-aws-ses/src/main/java/io/awspring/cloud/ses/SimpleEmailServiceMailSender.java
  spring-cloud-aws-ses/src/test/java/io/awspring/cloud/ses/SimpleEmailServiceJavaMailSenderTest.java
  spring-cloud-aws-ses/src/test/java/io/awspring/cloud/ses/SimpleEmailServiceMailSenderTest.java
Labels: component: ses, status: waiting-for-triage, type: documentation

Fix typo & update actions versions (#996)
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

Apply comment
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/StsProperties.java
Labels: component: core, status: waiting-for-triage

fix issue with running Java 8
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

Add `enabled` flag to Secrets Manager integration. (#1009)
  docs/src/main/asciidoc/secrets-manager.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoader.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataResource.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
Labels: component: secrets-manager, status: waiting-for-triage, type: documentation

Fix `StsProperties#asyncCredentialsUpdate` documentation (#1011)
  docs/src/main/asciidoc/core.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/StsProperties.java
Labels: component: core, status: waiting-for-triage, type: documentation

SES fromArn is configurable via properties Fixes GH-1025
  docs/src/main/.DS_Store
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/ses.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/ses/SesProperties.java
  spring-cloud-aws-ses/src/main/java/io/awspring/cloud/ses/SimpleEmailServiceJavaMailSender.java
  spring-cloud-aws-ses/src/test/java/io/awspring/cloud/ses/SimpleEmailServiceJavaMailSenderTest.java
Labels: component: ses, status: waiting-for-triage, type: documentation

Fix time unit in log message for slow acknowledgements
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/acknowledgement/SqsAcknowledgementExecutor.java
Labels: component: sqs, status: waiting-for-triage

Add parameter store migration info
  docs/src/main/asciidoc/migration.adoc
Labels: status: waiting-for-triage, type: documentation

Initial commit
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/properties/S3EncryptionProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/properties/S3EncryptionType.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/properties/S3Properties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
  spring-cloud-aws-dependencies/pom.xml
Labels: component: s3, status: waiting-for-triage, type: dependency-upgrade

Fix default value for Acknowledgement Shutdown Timeout and Listener Shutdown Timeout in docs
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptionsBuilder.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Fix default value for Acknowledgement Shutdown Timeout and Listener Shutdown Timeout in docs (#1034)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptionsBuilder.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Fix time unit in log message for slow acknowledgements (#1030)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/acknowledgement/SqsAcknowledgementExecutor.java
Labels: component: sqs, status: waiting-for-triage

Add BackOff when SQS Poll throws an exception (#1008)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/AbstractContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSource.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/ContainerOptionsTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSourceTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Introduce flag for Parameter store integration
  docs/src/main/asciidoc/parameter-store.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoader.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataResource.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
Labels: component: parameter-store, status: waiting-for-triage, type: documentation

Spotless:apply
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoader.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataResource.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
Labels: component: parameter-store, status: waiting-for-triage

Add Missing Synchronization in Ack Buffer Access
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/acknowledgement/BatchingAcknowledgementProcessor.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
Labels: component: sqs, status: waiting-for-triage

Add Missing Synchronization in Ack Buffer Access (#1038)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/acknowledgement/BatchingAcknowledgementProcessor.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
Labels: component: sqs, status: waiting-for-triage

Add `enabled` flag Parameter Store (#1039)
  docs/src/main/asciidoc/parameter-store.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoader.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataResource.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
Labels: component: parameter-store, status: waiting-for-triage, type: documentation

Add parameter store migration info (#1032)
  docs/src/main/asciidoc/migration.adoc
Labels: status: waiting-for-triage, type: documentation
