Repository awspring/spring-cloud-aws, changes with the labels that .github/labeler.yml gives for each.
All labels: component: core, component: cloudwatch, component: s3, component: parameter-store, component: secrets-manager, component: dynamodb, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Spotless
  .idea/vcs.xml
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AesProvider.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3RsaProvider.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sns/SnsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/provider/MyAesProvider.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/provider/MyRsaProvider.java
Labels: component: s3, component: sns, status: waiting-for-triage

add localstack docker compose support
  pom.xml
  spring-cloud-aws-docker-compose/pom.xml
  spring-cloud-aws-docker-compose/src/main/java/io/awspring/cloud/docker/compose/AwsDockerComposeConnectionDetailsFactory.java
  spring-cloud-aws-docker-compose/src/main/java/io/awspring/cloud/docker/compose/LocalStackEnvironment.java
  spring-cloud-aws-docker-compose/src/main/java/io/awspring/cloud/docker/compose/package-info.java
  spring-cloud-aws-docker-compose/src/main/resources/META-INF/spring.factories
  spring-cloud-aws-docker-compose/src/test/java/io/awspring/cloud/docker/compose/LocalStackEnvironmentTest.java
Labels: status: waiting-for-triage, type: dependency-upgrade

add docker compose sample
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-docker-compose-sample/docker-compose.yaml
  spring-cloud-aws-samples/spring-cloud-aws-docker-compose-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-docker-compose-sample/src/main/java/io/awspring/cloud/samples/docker/compose/Application.java
  spring-cloud-aws-samples/spring-cloud-aws-docker-compose-sample/src/main/resources/application.properties
Labels: status: waiting-for-triage, type: dependency-upgrade

Enhance RegionProviderAutoConfiguration when trying to load RegionProfile properties that don't exist; it will load CredentialsProperties instead.
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/RegionProviderAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/core/RegionProviderAutoConfigurationTests.java
Labels: component: core, status: waiting-for-triage

add docker compose support docs
  docs/src/main/asciidoc/docker-compose.adoc
  docs/src/main/asciidoc/index.adoc
Labels: status: waiting-for-triage, type: documentation

add dokcer compose support tests
  spring-cloud-aws-docker-compose/src/test/java/io/awspring/cloud/docker/compose/AwsDockerComposeConnectionDetailsFactoryTest.java
  spring-cloud-aws-docker-compose/src/test/resources/docker-compose.yaml
Labels: status: waiting-for-triage

Add SQS QueueNotFoundStrategy auto-configure support.
  docs/src/main/asciidoc/_configprops.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationIntegrationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Fix SqsListener javadoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListener.java
Labels: component: sqs, status: waiting-for-triage

Assert queues are all the same type in setQueueNames so applications fail to start rather than throwing endless Executor errors.
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsMessageListenerContainer.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/SqsMessageListenerContainerTests.java
Labels: component: sqs, status: waiting-for-triage

Issue-1041: Enable receiving messages from different message groups in the same Batch for FIFO queues
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListener.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListenerAnnotationBeanPostProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/SqsEndpoint.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/SqsMessageListenerContainerFactory.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoSqsComponentFactory.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/sink/adapter/MessageSinkAdapter.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsFifoIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Autoconfigure when using PodIdentity on EKS relate #984
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/core.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/CredentialsProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/CredentialsProviderAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/PodIdentityProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/StsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/core/CredentialsProviderAutoConfigurationTests.java
Labels: component: core, status: waiting-for-triage, type: documentation

Fix SqsListener javadoc (#1128)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListener.java
Labels: component: sqs, status: waiting-for-triage

Fix minor typo in `DynamoDbOperations` interface
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbOperations.java
Labels: component: dynamodb, status: waiting-for-triage

Fix minor typo in `DynamoDbOperations` interface (#1139)
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbOperations.java
Labels: component: dynamodb, status: waiting-for-triage

feat: Add Queue not found strategy property
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

add boolean topicExists() method
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/SnsOperations.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/SnsTemplate.java
Labels: component: sns, status: waiting-for-triage

adding integration test
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsTemplateIntegrationTest.java
Labels: component: sns, status: waiting-for-triage

adding author in javadoc
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/SnsTemplate.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsTemplateIntegrationTest.java
Labels: component: sns, status: waiting-for-triage

deleting .DS_Store file in docs
  docs/src/main/.DS_Store
Labels: status: waiting-for-triage, type: documentation

git ignore .DS_Store files
  .gitignore
Labels: status: waiting-for-triage

updating IAM permission docs
  docs/src/main/asciidoc/sns.adoc
Labels: status: waiting-for-triage, type: documentation

updating docs
  docs/src/main/asciidoc/sns.adoc
Labels: status: waiting-for-triage, type: documentation

improve docs
  docs/src/main/asciidoc/sns.adoc
Labels: status: waiting-for-triage, type: documentation

Revert "git ignore .DS_Store files"
  .gitignore
Labels: status: waiting-for-triage

Revert "deleting .DS_Store file in docs"
  docs/src/main/.DS_Store
Labels: status: waiting-for-triage, type: documentation

Add BatchVisibility listener method parameter (#832)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/CollectionUtils.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListener.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListenerAnnotationBeanPostProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/AbstractEndpoint.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/BatchVisibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/QueueMessageBatchVisibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/QueueMessageVisibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/acknowledgement/AbstractOrderingAcknowledgementProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/resolver/BatchVisibilityHandlerMethodArgumentResolver.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/support/resolver/BatchVisibilityArgumentResolverTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Add MessagingMessagConverter bean
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/MessagingMessageConverter.java
Labels: component: sqs, status: waiting-for-triage

Add missing setObjectMapper method
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/MessagingMessageConverter.java
Labels: component: sqs, status: waiting-for-triage

Refactoting instanceof object
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
Labels: component: sqs, status: waiting-for-triage

Remove unused import
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/MessagingMessageConverter.java
Labels: component: sqs, status: waiting-for-triage

Fix copyright and author
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
Labels: component: sqs, status: waiting-for-triage

Fix method name in S3 AsciiDoc
  docs/src/main/asciidoc/s3.adoc
Labels: status: waiting-for-triage, type: documentation

Make getUrl return location of bucket if object is empty or null.
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Resource.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3ResourceIntegrationTests.java
Labels: component: s3, status: waiting-for-triage

Fail at startup if queues are not the same type for a container
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsMessageListenerContainer.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/SqsMessageListenerContainerTests.java
Labels: component: sqs, status: waiting-for-triage

Fix PR Review
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
Labels: component: sqs, status: waiting-for-triage

Make CRT client Native Compatible
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Make adjustment
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/spring/aot.factories
  spring-cloud-aws-core/src/main/resources/META-INF/spring/aot.factories
Labels: component: core, status: waiting-for-triage

Update so CRT client hints are registered
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Issue-1041: Fix PR reviews, rename messageGrouping by batchGroupingStrategy
  docs/src/main/asciidoc/sqs.adoc
  pom.xml
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListener.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListenerAnnotationBeanPostProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/SqsEndpoint.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/SqsMessageListenerContainerFactory.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoBatchGroupingStrategy.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/FifoSqsComponentFactory.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/sink/adapter/MessageSinkAdapter.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsFifoIntegrationTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Issue-1041: Fix parent pom module remove for testing purpose and doc
  pom.xml
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/SqsEndpoint.java
Labels: component: sqs, status: waiting-for-triage, type: dependency-upgrade

.github/labeler.yml:

"component: core":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/core/*
  - spring-cloud-aws-core/**/*
"component: cloudwatch":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/metrics/*
"component: s3":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/s3/**/*
  - spring-cloud-aws-s3-parent/**/*
"component: parameter-store":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/parameterstore/*
  - spring-cloud-aws-parameter-store/**/*
"component: secrets-manager":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/secretsmanager/*
  - spring-cloud-aws-secrets-manager/**/*
"component: dynamodb":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/dynamodb/*
  - spring-cloud-aws-dynamodb/**/*
"component: ses":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/ses/*
  - spring-cloud-aws-ses/**/*
"component: sns":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sns/*
  - spring-cloud-aws-sns/**/*
"component: sqs":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sqs/*
  - spring-cloud-aws-sqs/**/*
"status: waiting-for-triage":
  - ./*
  - ./**/*
"type: documentation": docs/**/*
"type: dependency-upgrade":
  - pom.xml
  - spring-cloud-aws-dependencies/pom.xml
