Repository awspring/spring-cloud-aws, changes with the labels that .github/labeler.yml gives for each.
All labels: component: core, component: cloudwatch, component: s3, component: parameter-store, component: secrets-manager, component: dynamodb, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Make DynamoDb Clients Standalone
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbAutoConfigurationTest.java
Labels: component: dynamodb, status: waiting-for-triage

Add Validator setter in EndpointRegistrar (#893)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/AbstractListenerAnnotationBeanPostProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/EndpointRegistrar.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/annotation/SqsListenerAnnotationBeanPostProcessorTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Fix inverted condition when resolving AcknowledgementMode value
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/AbstractListenerAnnotationBeanPostProcessor.java
Labels: component: sqs, status: waiting-for-triage

Fixes gh-697 Enhance SqsAutoConfiguration to use an available ObjectMapper for SqsContainerOptions.
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs, status: waiting-for-triage

Enhance SqsAutoConfiguration to use an available ObjectMapper for SqsContainerOptions
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs, status: waiting-for-triage

fix: S3 file listing if the prefix resolves to slash
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3PathMatchingResourcePatternResolver.java
Labels: component: s3, status: waiting-for-triage

feat: check if bucket exists with S3Template
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Operations.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Template.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3TemplateIntegrationTests.java
Labels: component: s3, status: waiting-for-triage

upgrade spring-cloud-commons to 4.0.4
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Set versions to 3.0.3-SNAPSHOT.
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3-parent/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
Labels: component: core, component: s3, component: parameter-store, component: secrets-manager, component: dynamodb, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Set versions to 3.0.3-SNAPSHOT. (#918)
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3-parent/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
Labels: component: core, component: s3, component: parameter-store, component: secrets-manager, component: dynamodb, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Update docs and labels to use correct casing for LocalStack (#895)
  README.md
  docs/src/main/asciidoc/core.adoc
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/test/java/io/awspring/cloud/s3/crossregion/CrossRegionS3ClientTests.java
  spring-cloud-aws-samples/readme.md
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/src/main/resources/application.yml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/src/main/resources/application.properties
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/BaseSqsIntegrationTest.java
Labels: component: s3, component: sqs, status: waiting-for-triage, type: documentation

Upgrade spring-cloud-commons to 4.0.4 (#916)
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

S3: Fix file listing if the prefix resolves to slash (#912)
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3PathMatchingResourcePatternResolver.java
Labels: component: s3, status: waiting-for-triage

Adds array properties support to parameter store (#852, merge #248 from 2.4.x) (#894)
  docs/src/main/asciidoc/parameter-store.adoc
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-parameter-store/src/main/java/io/awspring/cloud/parameterstore/ParameterStorePropertySource.java
  spring-cloud-aws-parameter-store/src/test/java/io/awspring/cloud/parameterstore/ParameterStorePropertySourceTest.java
  spring-cloud-aws-samples/infrastructure/src/main/java/io/awspring/cloud/samples/infrastructure/InfrastructureStack.java
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/src/main/java/io/awspring/cloud/samples/parameterstore/SpringCloudAwsParameterStoreSample.java
Labels: component: parameter-store, status: waiting-for-triage, type: documentation

Update Github actions to run build with Java 21.
  .github/workflows/build.yml
Labels: status: waiting-for-triage

Upgrade Spotless
  pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Upgrade bytebuddy to Java 21 compatible version.
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Update Github actions to run build with Java 21. (#919)
  .github/workflows/build.yml
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Add option to set property prefix on Parameter Store property sources
  docs/src/main/asciidoc/parameter-store.adoc
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-parameter-store/src/main/java/io/awspring/cloud/parameterstore/ParameterStorePropertySource.java
  spring-cloud-aws-parameter-store/src/test/java/io/awspring/cloud/parameterstore/ParameterStorePropertySourceTest.java
Labels: component: parameter-store, status: waiting-for-triage, type: documentation

rename method to bucketExists
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Operations.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Template.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3TemplateIntegrationTests.java
Labels: component: s3, status: waiting-for-triage

Log reason why retrieving secrets failed.
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerPropertySources.java
Labels: component: secrets-manager, status: waiting-for-triage

Log reason why retrieving secrets failed.
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStorePropertySources.java
Labels: component: parameter-store, status: waiting-for-triage

Log reason why retrieving secrets and parameters failed. (#928)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStorePropertySources.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerPropertySources.java
Labels: component: parameter-store, component: secrets-manager, status: waiting-for-triage

Fix link to index page from appendix.
  docs/src/main/asciidoc/appendix.adoc
Labels: status: waiting-for-triage, type: documentation

Fix link to index page from appendix. (#930)
  docs/src/main/asciidoc/appendix.adoc
Labels: status: waiting-for-triage, type: documentation

Set more detailed data type on "timestamp" attribute in SNS message.
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/TopicMessageChannel.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/core/TopicMessageChannelTest.java
Labels: component: sns, status: waiting-for-triage

Set more detailed data type on "timestamp" attribute in SNS message. (#932)
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/TopicMessageChannel.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/core/TopicMessageChannelTest.java
Labels: component: sns, status: waiting-for-triage

Unit test exposing the config import ordering issue
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/resources/config.properties
  spring-cloud-aws-autoconfigure/src/test/resources/config_second.properties
Labels: component: secrets-manager, status: waiting-for-triage

Add `S3Template#bucketExists` (#915)
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Operations.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Template.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3TemplateIntegrationTests.java
Labels: component: s3, status: waiting-for-triage

Update spring-cloud-aws-parameter-store/src/main/java/io/awspring/cloud/parameterstore/ParameterStorePropertySource.java
  spring-cloud-aws-parameter-store/src/main/java/io/awspring/cloud/parameterstore/ParameterStorePropertySource.java
Labels: component: parameter-store, status: waiting-for-triage

Add missing dependency software.amazon.awssdk:aws-core to spring-cloud-aws-core
  spring-cloud-aws-core/pom.xml
Labels: component: core, status: waiting-for-triage

Fix S3Presigner region resolution
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
Labels: component: s3, status: waiting-for-triage

Fix configuring `S3Presigner` region (#937)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
Labels: component: s3, status: waiting-for-triage

Add option to set property prefix on Parameter Store property sources (#927)
  docs/src/main/asciidoc/parameter-store.adoc
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-parameter-store/src/main/java/io/awspring/cloud/parameterstore/ParameterStorePropertySource.java
  spring-cloud-aws-parameter-store/src/test/java/io/awspring/cloud/parameterstore/ParameterStorePropertySourceTest.java
Labels: component: parameter-store, status: waiting-for-triage, type: documentation

Upgrade AWS dependencies
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Lift new version
  pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Code cleanup
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/metrics/CloudWatchExportAutoConfigurationIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationIntegrationTest.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/test/java/io/awspring/cloud/s3/crossregion/CrossRegionS3ClientIntegrationTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3PathMatchingResourcePatternResolverTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3ResourceIntegrationTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3TemplateIntegrationTests.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsTemplateIntegrationTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/sms/SnsSmsTemplateIntegrationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/BaseSqsIntegrationTest.java
Labels: component: cloudwatch, component: s3, component: parameter-store, component: secrets-manager, component: dynamodb, component: sns, component: sqs, status: waiting-for-triage

Upgrade Testcontainers version to 1.19.1 (#941)
  pom.xml
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/metrics/CloudWatchExportAutoConfigurationIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationIntegrationTest.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/test/java/io/awspring/cloud/s3/crossregion/CrossRegionS3ClientIntegrationTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3PathMatchingResourcePatternResolverTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3ResourceIntegrationTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3TemplateIntegrationTests.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsTemplateIntegrationTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/sms/SnsSmsTemplateIntegrationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/BaseSqsIntegrationTest.java
Labels: component: cloudwatch, component: s3, component: parameter-store, component: secrets-manager, component: dynamodb, component: sns, component: sqs, status: waiting-for-triage, type: dependency-upgrade

Adapt tests to new AWS SDK
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/ConfiguredAwsClient.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/ConfiguredTransferManager.java
Labels: component: s3, component: parameter-store, component: secrets-manager, status: waiting-for-triage

Fixed setting `asyncHttpClientBuilder` in `AwsClientCustomizer` for async clients (#875)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/AwsClientCustomizer.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/core/AwsClientCustomizerTests.java
Labels: component: core, status: waiting-for-triage

.github/labeler.yml:

"component: core":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/core/*
  - spring-cloud-aws-core/**/*
"component: cloudwatch":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/metrics/*
"component: s3":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/s3/**/*
  - spring-cloud-aws-s3-parent/**/*
"component: parameter-store":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/parameterstore/*
  - spring-cloud-aws-parameter-store/**/*
"component: secrets-manager":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/secretsmanager/*
  - spring-cloud-aws-secrets-manager/**/*
"component: dynamodb":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/dynamodb/*
  - spring-cloud-aws-dynamodb/**/*
"component: ses":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/ses/*
  - spring-cloud-aws-ses/**/*
"component: sns":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sns/*
  - spring-cloud-aws-sns/**/*
"component: sqs":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sqs/*
  - spring-cloud-aws-sqs/**/*
"status: waiting-for-triage":
  - ./*
  - ./**/*
"type: documentation": docs/**/*
"type: dependency-upgrade":
  - pom.xml
  - spring-cloud-aws-dependencies/pom.xml
