Repository awspring/spring-cloud-aws, changes with the labels that .github/labeler.yml gives for each.
All labels: component: core, component: cloudwatch, component: s3, component: parameter-store, component: secrets-manager, component: dynamodb, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

.github/labeler.yml:

"component: core":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/core/*
  - spring-cloud-aws-core/**/*
"component: cloudwatch":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/metrics/*
"component: s3":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/s3/**/*
  - spring-cloud-aws-s3-parent/**/*
"component: parameter-store":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/parameterstore/*
  - spring-cloud-aws-parameter-store/**/*
"component: secrets-manager":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/config/secretsmanager/*
  - spring-cloud-aws-secrets-manager/**/*
"component: dynamodb":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/dynamodb/*
  - spring-cloud-aws-dynamodb/**/*
"component: ses":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/ses/*
  - spring-cloud-aws-ses/**/*
"component: sns":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sns/*
  - spring-cloud-aws-sns/**/*
"component: sqs":
  - spring-cloud-aws-autoconfigure/src/*/java/io/awspring/cloud/autoconfigure/sqs/*
  - spring-cloud-aws-sqs/**/*
"status: waiting-for-triage":
  - ./*
  - ./**/*
"type: documentation": docs/**/*
"type: dependency-upgrade":
  - pom.xml
  - spring-cloud-aws-dependencies/pom.xml

Update documentation
  docs/src/main/asciidoc/sqs.adoc
Labels: status: waiting-for-triage, type: documentation

Introduce a check
  spring-cloud-aws-app-config/src/main/java/io/awspring/cloud/appconfig/AppConfigPropertySource.java
Labels: status: waiting-for-triage

Introduce MessageMapping annotation
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListener.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListenerReflectiveProcessor.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/annotation/SqsListenerReflectiveProcessorTest.java
Labels: component: sqs, status: waiting-for-triage

fix: correct conditional for S3CrtAsyncClientAutoConfiguration
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfigurationTests.java
Labels: component: s3, status: waiting-for-triage

polish
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbAutoConfiguration.java
Labels: component: dynamodb, status: waiting-for-triage

Configure DynamoDb TableSchema as a bean (#957)
  docs/src/main/asciidoc/dynamodb.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbAutoConfigurationTest.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DefaultDynamoDbTableSchemaResolver.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbTableSchemaResolver.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbTemplate.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTableSchemaResolverTest.java
Labels: component: dynamodb, status: waiting-for-triage, type: documentation

fix: correct conditional for S3CrtAsyncClientAutoConfiguration (#970)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfigurationTests.java
Labels: component: s3, status: waiting-for-triage

Add support for SDK's cross-region S3 client. (#960)
  docs/src/main/asciidoc/s3.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/properties/S3Properties.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/main/java/io/awspring/cloud/s3/crossregion/CrossRegionS3Client.java
Labels: component: s3, status: waiting-for-triage, type: documentation

Add explicit `sdk-core` dependency to autoconfigure module to fix startup when only base starter is included in classpath. (#955)
  spring-cloud-aws-autoconfigure/pom.xml
Labels: status: waiting-for-triage

Fix the order of importing properties in Secrets Manager integration (#882)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/resources/config.properties
  spring-cloud-aws-autoconfigure/src/test/resources/config_second.properties
Labels: component: secrets-manager, status: waiting-for-triage

Migrate docs to Antora.
  .gitignore
  docs/antora-playbook.yml
  docs/antora.yml
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/_attributes.adoc
  docs/modules/ROOT/pages/appendix.adoc
  docs/modules/ROOT/pages/cloudwatch.adoc
  docs/modules/ROOT/pages/configprops.adoc
  docs/modules/ROOT/pages/contributing.adoc
  docs/modules/ROOT/pages/core.adoc
  docs/modules/ROOT/pages/dynamodb.adoc
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/intro.adoc
  docs/modules/ROOT/pages/migration.adoc
  docs/modules/ROOT/pages/parameter-store.adoc
  docs/modules/ROOT/pages/s3.adoc
  docs/modules/ROOT/pages/secrets-manager.adoc
  docs/modules/ROOT/pages/ses.adoc
  docs/modules/ROOT/pages/sns.adoc
  docs/modules/ROOT/pages/spring-cloud-aws.adoc
  docs/modules/ROOT/pages/sqs.adoc
  docs/modules/ROOT/partials/_configprops.adoc
  docs/pom.xml
  docs/src/main/antora/resources/antora-resources/antora.yml
Labels: status: waiting-for-triage, type: documentation

Fix S3Template.createSignedPutURL not applying given ObjectMetadata. Also added contentLength property to ObjectMetadata
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/ObjectMetadata.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Template.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/ObjectMetadataTests.java
Labels: component: s3, status: waiting-for-triage

Fix building docs.
  .github/workflows/upload-docs.yml
  Makefile
  docs/pom.xml
  pom.xml
Labels: status: waiting-for-triage, type: documentation, type: dependency-upgrade

polish
  pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Fix building docs. (#975)
  .github/workflows/upload-docs.yml
  Makefile
  docs/pom.xml
  pom.xml
Labels: status: waiting-for-triage, type: documentation, type: dependency-upgrade

Temporarily enable building docs on this branch
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

set default region
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

Apply `ObjectMetadata` to `S3Template.createSignedPutURL` request (#974)
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/ObjectMetadata.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Template.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/ObjectMetadataTests.java
Labels: component: s3, status: waiting-for-triage

build only docs module
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

..
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

..
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

..
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

Add S3Client objectExists support in S3Template
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Operations.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Template.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3TemplateIntegrationTests.java
Labels: component: s3, status: waiting-for-triage

doc clarification for issue 971
  docs/src/main/asciidoc/sqs.adoc
Labels: status: waiting-for-triage, type: documentation

Update docs/src/main/asciidoc/imds.adoc
  docs/src/main/asciidoc/imds.adoc
Labels: status: waiting-for-triage, type: documentation

Add S3Client objectExists support in S3Template (#978)
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Operations.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Template.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3TemplateIntegrationTests.java
Labels: component: s3, status: waiting-for-triage

Add `path-style-access-enabled` config to S3 CRT client (#872)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfigurationTests.java
Labels: component: s3, status: waiting-for-triage

Upgrade to Spring Cloud 4.1.0
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Cleanup
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfigurationTests.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsTemplateIntegrationTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/sms/SnsSmsTemplateIntegrationTest.java
Labels: component: s3, component: secrets-manager, component: dynamodb, component: sns, status: waiting-for-triage

Upgrade Testcontainers to 1.19.3
  pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Upgrade to Spring Cloud 4.1.0 (#981)
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Cleanup (#982)
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfigurationTests.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsTemplateIntegrationTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/sms/SnsSmsTemplateIntegrationTest.java
Labels: component: s3, component: secrets-manager, component: dynamodb, component: sns, status: waiting-for-triage

Upgrade Testcontainers to 1.19.3 (#983)
  pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Small Code improvements for Object Mapper auto configuration (#985)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/EndpointRegistrar.java
Labels: component: sqs, status: waiting-for-triage

Small Code improvements for Object Mapper auto configuration (#985)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/EndpointRegistrar.java
Labels: component: sqs, status: waiting-for-triage

Add ContentBasedDeduplication option when sending SQS messages (#938)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/AbstractMessagingTemplate.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/SqsTemplate.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/SqsTemplateOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/TemplateContentBasedDeduplication.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/operations/SqsTemplateTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Add ContentBasedDeduplication option when sending SQS messages (#938) (#987)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/AbstractMessagingTemplate.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/SqsTemplate.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/SqsTemplateOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/TemplateContentBasedDeduplication.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/operations/SqsTemplateTests.java
Labels: component: sqs, status: waiting-for-triage, type: documentation

Add support for SDK's cross-region S3 client. (#960)
  docs/src/main/asciidoc/s3.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/properties/S3Properties.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/main/java/io/awspring/cloud/s3/crossregion/CrossRegionS3Client.java
Labels: component: s3, status: waiting-for-triage, type: documentation

Add explicit `sdk-core` dependency to autoconfigure module to fix startup when only base starter is included in classpath. (#955)
  spring-cloud-aws-autoconfigure/pom.xml
Labels: status: waiting-for-triage

Fix the order of importing properties in Secrets Manager integration (#882)
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/resources/config.properties
  spring-cloud-aws-autoconfigure/src/test/resources/config_second.properties
Labels: component: secrets-manager, status: waiting-for-triage
