Repository awspring/spring-cloud-aws, pull requests merged in 2020-12, with the labels that each got.

#3 Fix packages in Secrets Manager and Parameter Store starters.
  spring-cloud-starter-aws-parameter-store-config/src/main/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreBootstrapConfiguration.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreConfigDataLoader.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolver.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreConfigDataResource.java
  spring-cloud-starter-aws-parameter-store-config/src/test/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreBootstrapConfigurationTest.java
  spring-cloud-starter-aws-parameter-store-config/src/test/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolverTest.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfiguration.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLoader.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataResource.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfigurationTest.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolverTest.java
Labels: component: parameter-store, component: secrets-manager

#4 Upgrade to Spring Cloud Build 3.0.0.
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#6 Improve javadocs
  docs/src/main/asciidoc/_configprops.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/security/CognitoAuthenticationProperties.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerProperties.java
Labels: component: secrets-manager, type: documentation

#7 Back to snapshots.
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: core, component: parameter-store, component: rds, component: secrets-manager, type: dependency-upgrade, type: documentation

#8 access modifier test refactor
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/cache/ElastiCacheAutoConfigurationTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/cache/config/xml/CacheBeanDefinitionParserTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/cache/config/xml/CacheSchemaWithoutVersionTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/context/config/xml/ContextCredentialsBeanDefinitionParserTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/context/config/xml/ContextInstanceDataPropertySourceBeanDefinitionParserTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/context/config/xml/ContextRegionBeanDefinitionParserTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/context/config/xml/ContextResourceLoaderBeanDefinitionParserTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/context/config/xml/ContextSchemaWithoutVersionTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/context/config/xml/StackConfigurationBeanDefinitionParserTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/context/support/io/SimpleStorageProtocolResolverConfigurerIntegrationTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/mail/config/xml/MailSchemaWithoutVersionTest.java
  spring-cloud-aws-context/src/test/java/org/springframework/cloud/aws/mail/config/xml/SimpleEmailServiceBeanDefinitionParserTest.java
  spring-cloud-aws-core/src/test/java/io/awspring/cloud/core/io/s3/SimpleStorageNameUtilsTest.java
  spring-cloud-aws-core/src/test/java/io/awspring/cloud/core/io/s3/SimpleStorageResourceTest.java
  spring-cloud-aws-jdbc/src/test/java/io/awspring/cloud/jdbc/config/xml/AmazonRdsDataSourceBeanDefinitionParserTest.java
  spring-cloud-aws-jdbc/src/test/java/io/awspring/cloud/jdbc/config/xml/AmazonRdsRetryInterceptorBeanDefinitionParserTest.java
  spring-cloud-aws-jdbc/src/test/java/io/awspring/cloud/jdbc/config/xml/JdbcSchemaWithoutVersionTest.java
  spring-cloud-aws-jdbc/src/test/java/io/awspring/cloud/jdbc/config/xml/SampleValidator.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/config/xml/AnnotationDrivenQueueListenerBeanDefinitionParserTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/config/xml/MessagingSchemaWithoutSchemaTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/config/xml/NotificationArgumentResolverBeanDefinitionParserTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/config/xml/NotificationMessagingTemplateBeanDefinitionParserTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/config/xml/QueueMessagingTemplateBeanDefinitionParserTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/config/xml/SqsAsyncClientBeanDefinitionParserTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/listener/QueueMessageHandlerTest.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertiesTest.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertySourceLocatorTest.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertiesTest.java
Labels: component: core, component: parameter-store, component: secrets-manager
