Repository awspring/spring-cloud-aws, pull requests merged in 2021-12, with the labels that each got.

#195 Fix context order when loading properties
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStorePropertySources.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertySourceLocatorTest.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertySourcesTest.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySources.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySourceLocatorTest.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySourcesTests.java
  spring-cloud-starter-aws-parameter-store-config/src/test/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolverTest.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolverTest.java
Labels: component: parameter-store, component: secrets-manager

#193 Add Note About Missing Aurora RDS Support (#172)
  docs/src/main/asciidoc/rds.adoc
Labels: type: documentation

#186 Add logger to log exception
  spring-cloud-aws-messaging/src/main/java/io/awspring/cloud/messaging/listener/SimpleMessageListenerContainer.java
Labels: component: sqs, type: enhancement

#208 Upgrade AWS SDK dependency to 1.12.129.
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#207 Upgrade dependencies to Spring Cloud Build 3.0.4.
  pom.xml
Labels: type: dependency-upgrade
