Repository awspring/spring-cloud-aws, pull requests merged in 2021-07, with the labels that each got.

#150 Fix Customizing the Bootstrap Configuration link
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: type: documentation

#147 fix prefix not being validated for other slashes
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStoreProperties.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertiesTest.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerProperties.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertiesTest.java
Labels: component: parameter-store, component: secrets-manager

#127 Add documentation for using Web identity token from AWS STS
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: component: core, type: documentation

#157 Fix build
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertiesTest.java
Labels: component: parameter-store

#164 Set version to 2.3.2-SNAPSHOT.
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: type: maintenance

#109 Improve ref manual documentation for Secrets Manager Config and Param Store Config modules -
  docs/src/main/asciidoc/parameter-store.adoc
  docs/src/main/asciidoc/secrets-manager.adoc
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: component: parameter-store, component: secrets-manager, type: documentation

#138 Execute all received sqs messages
  spring-cloud-aws-messaging/src/main/java/io/awspring/cloud/messaging/listener/SimpleMessageListenerContainer.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/listener/SimpleMessageListenerContainerTest.java
Labels: component: sqs, type: enhancement
