Repository awspring/spring-cloud-aws, pull requests merged in 2021-03, with the labels that each got.

#93 Mention in docs a need to use not-buffered SQS client with FIFO queues.
  docs/src/main/asciidoc/sqs.adoc
Labels: type: documentation

#92 Document spring boot config 2.4 change
  docs/src/main/asciidoc/parameter-store.adoc
  docs/src/main/asciidoc/secrets-manager.adoc
Labels: type: documentation

#25 SNS sample
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/.gitignore
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/.npmignore
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/README.md
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/bin/infrastructure.ts
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/cdk.json
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/jest.config.js
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/lib/infrastructure-stack.ts
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/package.json
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/tsconfig.json
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/src/main/java/io/awspring/cloud/sns/sample/NotificationMappingController.java
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/src/main/java/io/awspring/cloud/sns/sample/SpringSNSSample.java
Labels: status: waiting-for-feedback

#102 #101 fix validator beandefinition not being found
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStoreProperties.java
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/ValidationException.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertiesTest.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerProperties.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/ValidationException.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertiesTest.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreValidationAnalyzer.java
  spring-cloud-starter-aws-parameter-store-config/src/main/resources/META-INF/spring.factories
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerValidationAnalyzer.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/resources/META-INF/spring.factories
Labels: component: parameter-store, component: secrets-manager

#105 Fix Javadocs generation and upload
  .github/workflows/upload-docs.yml
  pom.xml
Labels: type: dependency-upgrade
