Repository awspring/spring-cloud-aws, pull requests merged in 2021-01, with the labels that each got.

#16 Imrpove config.import docs for Parameters and Secrets
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/parameter-store.adoc
  docs/src/main/asciidoc/secrets-manager.adoc
Labels: type: documentation

#17 Parameter Store Sample
  pom.xml
  spring-cloud-aws-samples/.gitignore
  spring-cloud-aws-samples/.npmignore
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/infrastructure/README.md
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/infrastructure/cdk.json
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/infrastructure/jest.config.js
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/infrastructure/lib/infrastructure-stack.ts
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/infrastructure/package.json
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/infrastructure/tsconfig.json
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/src/main/java/io/awspring/cloud/parameterstore/sample/SpringCloudAwsParameterStoreSample.java
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/src/main/resources/application.properties
Labels: type: dependency-upgrade

#33 initial commit
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerProperties.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertiesTest.java
Labels: component: secrets-manager

#37 Update readme.
  .github/CONTRIBUTING.md
  README.adoc
  docs/src/main/asciidoc/README.adoc
Labels: type: documentation
