Repository awspring/spring-cloud-aws, pull requests merged in 2022-04, with the labels that each got.

#283 Update readme.
  README.adoc
  docs/src/main/asciidoc/README.adoc
Labels: type: documentation

#277 fix: wrong identations in the code examples
  docs/src/main/asciidoc/s3.adoc
Labels: type: documentation

#288 Include other Spring AWS related projects in docs.
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: type: documentation

#291 Migrate readme to Markdown
  README.adoc
  README.md
  docs/src/main/asciidoc/README.adoc
Labels: type: documentation

#282 Cleanup pom files.
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3-parent/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/main/java/io/awspring/cloud/s3/crossregion/CrossRegionS3Client.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/app/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/infrastructure/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-starter-aws-parameter-store/pom.xml
  spring-cloud-starter-aws-s3/pom.xml
  spring-cloud-starter-aws-secrets-manager/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
Labels: type: documentation, type: dependency-upgrade, component: core, type: maintenance

#292 Fix Javadoc generation
  .github/workflows/upload-docs.yml
  docs/pom.xml
Labels: type: documentation

#299 Move and rename starters
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/app/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-starters/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
Labels: type: dependency-upgrade

#305 Include other Spring AWS related projects in docs.
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: type: documentation

#304 Upgrade AWS SDK to 1.12.195
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#303 Relax prefix validation rules in Parameter Store and Secrets Manager
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStoreProperties.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertiesTest.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerProperties.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertiesTest.java
Labels: component: parameter-store, component: secrets-manager

#306 Set version to 2.4.1
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-test/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: parameter-store, component: rds, component: secrets-manager, type: documentation, type: dependency-upgrade, component: core

#307 Back to snapshots.
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-test/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: parameter-store, component: rds, component: secrets-manager, type: documentation, type: dependency-upgrade, component: core

#298 Update core & S3 reference docs for 3.0
  .github/workflows/upload-docs.yml
  docs/src/main/asciidoc/core.adoc
  docs/src/main/asciidoc/intro.adoc
  docs/src/main/asciidoc/s3.adoc
  docs/src/main/asciidoc/spring-cloud-aws.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3Properties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/core/CredentialsProviderAutoConfigurationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/core/RegionProviderAutoConfigurationTests.java
Labels: type: documentation

#323 Update Testcontainers to 1.17.1
  pom.xml
Labels: type: dependency-upgrade

#324 Update AWS SDK v2 to 2.17.172
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#325 Update AWS SDK to 1.12.201
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#330 Polish docs.
  docs/src/main/asciidoc/s3.adoc
  docs/src/main/asciidoc/sns.adoc
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: type: documentation

#338 Allow plain text in AWS Secrets
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-secrets-manager/src/main/java/io/awspring/cloud/secretsmanager/SecretsManagerPropertySource.java
  spring-cloud-aws-secrets-manager/src/test/java/io/awspring/cloud/secretsmanager/SecretsManagerPropertySourceTest.java
Labels: component: secrets-manager, type: enhancement
