Repository awspring/spring-cloud-aws, pull requests merged in 2022-08, with the labels that each got.

#448 Introduce DAX support
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/dynamodb.adoc
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/AwsClientBuilderConfigurer.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DaxProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/dynamodb/ConfiguredDaxClient.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/resources/io.awspring.cloud.auconfigure.dynamodb.it/application.properties
  spring-cloud-aws-autoconfigure/src/test/resources/logback.xml
  spring-cloud-aws-dependencies/pom.xml
Labels: type: documentation, type: dependency-upgrade, component: dynamodb

#477 CloudWatch docs
  docs/src/main/asciidoc/cloudwatch.adoc
  docs/src/main/asciidoc/index.adoc
Labels: type: documentation

#478 Add migration docs from 2.x to 3.x
  docs/src/main/asciidoc/index.adoc
  docs/src/main/asciidoc/migration.adoc
Labels: type: documentation

#480 Simplify generator path calculation
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/src/main/java/io/awspring/cloud/s3/codegen/AbstractCrossRegionS3ClientGenerator.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
Labels: component: s3

#486 Refactor `SnsTemplateTest`.
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/CachingTopicArnResolver.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/core/SnsTemplateTest.java
Labels: component: sns, type: maintenance

#487 Refactor `S3AutoConfigurationTests`.
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
Labels: component: s3, type: maintenance

#484 Simplify Region and Credentials providers autoconfigurations.
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/CredentialsProviderAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/RegionProviderAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/core/CredentialsProviderAutoConfigurationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/core/RegionProviderAutoConfigurationTests.java
Labels: component: core, type: enhancement
