Repository awspring/spring-cloud-aws, pull requests merged in 2022-02, with the labels that each got.

#225 Fix property loading order for Parameter Store and Secrets Manager when used with Spring Cloud Bootstrap
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStorePropertySourceLocator.java
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStorePropertySources.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertySourceLocatorTest.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySourceLocator.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySourceLocatorTest.java
Labels: component: parameter-store, component: secrets-manager

#218 upgrade aws sdk version to 1.12.132
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#227 Document that cloud.aws.region.static is useful when running outside of AWS
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: type: documentation

#216 167 - Prefix for paramstore cannot be empty
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStoreProperties.java
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStorePropertySources.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertiesTest.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertySourcesTest.java
Labels: component: parameter-store

#231 Ensure that SqsMessageDeletionPolicy is NO_REDRIVE if one provided by parameter is null
  spring-cloud-aws-messaging/src/main/java/io/awspring/cloud/messaging/listener/QueueMessageHandler.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/listener/QueueMessageHandlerTest.java
Labels: component: sqs

#233 Allow prefix for Secrets Manager to be empty
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerProperties.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySources.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertiesTest.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySourceLocatorTest.java
Labels: component: secrets-manager, type: enhancement

#229 Fixes logging for Parameter Store and Secrets Manager integrations
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStorePropertySource.java
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStorePropertySourceLocator.java
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStorePropertySources.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertySourcesTest.java
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/infrastructure/lib/infrastructure-stack.ts
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/src/main/resources/application.yml
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySource.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySourceLocator.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySources.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySourcesTests.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreConfigDataLoader.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolver.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLoader.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolverTest.java
Labels: component: parameter-store, component: secrets-manager, type: enhancement

#236 Set versions to 2.3.4
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: type: maintenance

#211 Updates spring cloud build/commons to 3.1.0
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: type: dependency-upgrade

#240 Introduce sns verification for http requests
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/sns.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/messaging/SnsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/messaging/SnsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/messaging/SnsAutoConfigurationTest.java
  spring-cloud-aws-messaging/src/main/java/io/awspring/cloud/messaging/config/annotation/SnsWebConfiguration.java
  spring-cloud-aws-messaging/src/main/java/io/awspring/cloud/messaging/endpoint/NotificationMessageHandlerMethodArgumentResolver.java
  spring-cloud-aws-messaging/src/main/java/io/awspring/cloud/messaging/endpoint/config/NotificationHandlerMethodArgumentResolverConfigurationUtils.java
  spring-cloud-aws-messaging/src/main/java/io/awspring/cloud/messaging/endpoint/config/NotificationHandlerMethodArgumentResolverFactoryBean.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/endpoint/ComplexNotificationEndpointControllerTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/endpoint/NotificationEndpointControllerTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/endpoint/NotificationMessageHandlerMethodArgumentResolverTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/endpoint/config/NotificationHandlerMethodArgumentResolverFactoryBeanTest.java
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/bin/infrastructure.ts
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/lib/infrastructure-stack.ts
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/infrastracture/package.json
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/src/main/java/io/awspring/cloud/sns/sample/NotificationMappingController.java
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/src/main/java/io/awspring/cloud/sns/sample/SpringSNSSample.java
Labels: type: documentation

#243 Set version to 2.4.0
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-test/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: parameter-store, component: rds, component: secrets-manager, type: documentation, type: dependency-upgrade, component: core
