Repository awspring/spring-cloud-aws, pull requests merged in 2022-05, with the labels that each got.

#364 Relax prefix validation rules in Parameter Store and Secrets Manager …
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStoreProperties.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertiesTest.java
  spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerProperties.java
  spring-cloud-aws-secrets-manager-config/src/test/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertiesTest.java
Labels: component: parameter-store, component: secrets-manager

#346 Introduce Secrets Manager documentation.
  docs/src/main/asciidoc/secrets-manager.adoc
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: type: documentation

#365 Set version to 2.3.5
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-core/src/main/java/io/awspring/cloud/core/SpringCloudClientConfiguration.java
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: parameter-store, component: rds, component: secrets-manager, type: documentation, type: dependency-upgrade, component: core

#367 Set version to 2.3.6-SNAPSHOT
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-core/src/main/java/io/awspring/cloud/core/SpringCloudClientConfiguration.java
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: parameter-store, component: rds, component: secrets-manager, type: documentation, type: dependency-upgrade, component: core

#361 S3 transfermanager preview
  docs/src/main/asciidoc/s3.adoc
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/AwsClientBuilderConfigurer.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3TransferManagerAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/properties/S3Properties.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/properties/S3TransferManagerProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/properties/package-info.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/spring.factories
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3TransferManagerAutoConfigurationTests.java
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/AbstractTempFileS3OutputStream.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/DiskBufferingS3OutputStream.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Resource.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/TransferManagerS3OutputStream.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/TransferManagerS3OutputStreamProvider.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3ResourceIntegrationTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/TransferManagerS3OutputStreamTests.java
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/app/pom.xml
Labels: component: s3, type: feature

#371 Fix generating config properties in docs.
  docs/pom.xml
  docs/src/main/asciidoc/_configprops.adoc
Labels: type: documentation

#373 Use version from pom.xml in `SpringCloudClientConfiguration`.
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/AwsClientBuilderConfigurer.java
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-core/src/main/java/io/awspring/cloud/core/SpringCloudClientConfiguration.java
  spring-cloud-aws-core/src/main/resources/io/awspring/cloud/core/SpringCloudClientConfiguration.properties
  spring-cloud-aws-core/src/test/java/io/awspring/cloud/core/SpringCloudClientConfigurationTests.java
Labels: component: core

#317 Parameter Store reference docs.
  docs/src/main/asciidoc/parameter-store.adoc
  docs/src/main/asciidoc/secrets-manager.adoc
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: component: parameter-store, type: documentation

#384 Upgrade AWS SDK versions
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#391 Upgrade testcontainers version to 1.17.2
  pom.xml
Labels: type: dependency-upgrade

#395 Reduce amount of logs in Parameter Store tests.
  spring-cloud-starter-aws-parameter-store-config/src/test/resources/logback.xml
Labels: component: parameter-store, type: maintenance

#394 Fail on startup if sqs queue does not exist
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/messaging/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/messaging/SqsProperties.java
  spring-cloud-aws-messaging/src/main/java/io/awspring/cloud/messaging/config/SimpleMessageListenerContainerFactory.java
  spring-cloud-aws-messaging/src/main/java/io/awspring/cloud/messaging/listener/AbstractMessageListenerContainer.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/config/annotation/SqsConfigurationTest.java
  spring-cloud-aws-messaging/src/test/java/io/awspring/cloud/messaging/listener/MessageListenerContainerTest.java
Labels: component: sqs, type: documentation, type: enhancement

#398 Update awssdk v2 version to 2.17.198
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade
