Repository awspring/spring-cloud-aws, pull requests merged in 2022-09, with the labels that each got.

#490 Add SQS starter to the dependencies' module.
  spring-cloud-aws-dependencies/pom.xml
Labels: component: sqs, type: dependency-upgrade

#493 Port `SqsTest` to new SQS implementation.
  pom.xml
  spring-cloud-aws-test/pom.xml
  spring-cloud-aws-test/src/main/java/io/awspring/cloud/test/sqs/AutoConfigureSqs.java
  spring-cloud-aws-test/src/main/java/io/awspring/cloud/test/sqs/SqsTest.java
  spring-cloud-aws-test/src/main/java/io/awspring/cloud/test/sqs/SqsTestContextBootstrapper.java
  spring-cloud-aws-test/src/main/java/io/awspring/cloud/test/sqs/SqsTypeExcludeFilter.java
  spring-cloud-aws-test/src/main/resources/META-INF/spring.factories
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/BaseSqsIntegrationTest.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/SampleComponent.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/SqsSampleListener.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/SqsTestApplication.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/SqsTestListenersDefinedTest.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/SqsTestNoListenersDefinedTest.java
Labels: type: dependency-upgrade

#497 Upgrade AWS SDK.
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#498 Upgrade Testcontainers.
  pom.xml
Labels: type: dependency-upgrade

#500 Set version to 3.0.0-M2
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3-parent/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
Labels: type: documentation, type: dependency-upgrade, component: core

#501 Back to snapshots.
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3-parent/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
Labels: type: documentation, type: dependency-upgrade, component: core

#362 Generate Jacoco report and send to SonarCloud with GH action.
  .github/workflows/build.yml
  pom.xml
Labels: type: dependency-upgrade, type: maintenance

#509 Clean up `pom.xml`
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-ses/pom.xml
Labels: type: documentation, type: dependency-upgrade

#510 Upgrade Spring Cloud to 3.1.3
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#457 SNS SMS support
  docs/src/main/asciidoc/sns.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sns/SnsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sns/SnsAutoConfigurationTest.java
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/src/main/java/io/awspring/cloud/sns/sample/SpringSNSSample.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/MessageAttributeDataTypes.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/package-info.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/sms/AttributeCodes.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/sms/SmsMessageAttributes.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/sms/SmsType.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/sms/SnsSmsOperations.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/sms/SnsSmsTemplate.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/sms/package-info.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/Matchers.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/core/SnsTemplateTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/core/TopicMessageChannelTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/sms/SmsMessageAttributesConverterTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/sms/SnsSmsTemplateIntegrationTest.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/sms/SnsSmsTemplateTest.java
Labels: component: sns, type: documentation, type: feature

#516 Remove `spring-cloud-aws-starters` module and refer each starter individually from the root `pom.xml`.
  pom.xml
  spring-cloud-aws-starters/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
Labels: type: dependency-upgrade

#522 Add spring-cloud-aws-starter-metrics to dependencies
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#517 Fixes table formatting issue
  docs/src/main/asciidoc/migration.adoc
Labels: type: documentation

#525 Docs update for S3 and ParameterStore starter coordinates.
  docs/src/main/asciidoc/parameter-store.adoc
  docs/src/main/asciidoc/s3.adoc
Labels: type: documentation
