Repository awspring/spring-cloud-aws, pull requests merged in 2022-03, with the labels that each got.

#248 Adds array properties support to parameter store. (#245)
  docs/src/main/asciidoc/parameter-store.adoc
  spring-cloud-aws-parameter-store-config/src/main/java/io/awspring/cloud/paramstore/AwsParamStorePropertySource.java
  spring-cloud-aws-parameter-store-config/src/test/java/io/awspring/cloud/paramstore/AwsParamStorePropertySourceTest.java
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/infrastructure/lib/infrastructure-stack.ts
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/src/main/java/io/awspring/cloud/parameterstore/sample/SpringCloudAwsParameterStoreSample.java
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-parameter-store-config/src/test/java/io/awspring/cloud/autoconfigure/paramstore/ParameterStoreConfigDataLoaderIntegrationTests.java
Labels: component: parameter-store, type: documentation, type: enhancement

#272 Configure signing region when endpoint is overwritten.
  spring-cloud-aws-core/src/main/java/io/awspring/cloud/core/config/AmazonWebserviceClientFactoryBean.java
  spring-cloud-aws-core/src/test/java/io/awspring/cloud/core/config/AmazonTestWebserviceClient.java
  spring-cloud-aws-core/src/test/java/io/awspring/cloud/core/config/AmazonWebserviceClientFactoryBeanTest.java
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/src/test/java/io/awspring/cloud/sqs/sample/SqsSampleApplicationTests.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/BaseSqsIntegrationTest.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/SqsTestListenersDefinedTest.java
Labels: component: core, type: enhancement

#280 Implement WritableResource
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/src/main/java/io/awspring/cloud/s3/codegen/CrossRegionS3ClientGenerator.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/CrossRegionS3Client.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/DiskBufferingS3OutputStream.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/DiskBufferingS3OutputStreamProvider.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/Location.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/ObjectMetadata.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3OutputStream.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3OutputStreamProvider.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3ProtocolResolver.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Resource.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/DiskBufferingS3OutputStreamTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/ObjectMetadataTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3ProtocolResolverTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3ResourceTests.java
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/app/src/main/java/io/awspring/cloud/s3/sample/SpringCloudAwsS3Sample.java
  spring-cloud-aws-secrets-manager/pom.xml
Labels: component: s3, type: dependency-upgrade
