Repository awspring/spring-cloud-aws, pull requests merged in 2023-03, with the labels that each got.

#699 Enable SpEL for multiple queues in SQS
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/AbstractListenerAnnotationBeanPostProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/SqsListenerAnnotationBeanPostProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/EndpointRegistrar.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/DefaultListenerContainerRegistry.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/annotation/SqsListenerAnnotationBeanPostProcessorTests.java
Labels: component: sqs

#701 Improve SemaphoreBackPressureHandler logging (#700)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SemaphoreBackPressureHandler.java
Labels: component: sqs

#704 Improve reference guide instructions for BOM usage for Gradle
  docs/src/main/asciidoc/index.adoc
Labels: type: documentation

#698 Change SqsSendOptions Ids API to String (#694)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/SqsSendOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/SqsTemplate.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SqsHeaderMapper.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/operations/SqsTemplateTests.java
Labels: component: sqs

#710 fixes #707
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/DefaultTopicArnResolver.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsTemplateIntegrationTest.java
Labels: component: sns

#709 Resolve Other MessageAttributeValue Types (#708)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/converter/SqsHeaderMapper.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/support/converter/SqsHeaderMapperTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/support/converter/SqsMessagingMessageConverterTests.java
Labels: component: sqs

#715 Upgrade to Localstack 1.4.0
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/metrics/CloudWatchExportAutoConfigurationIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationIntegrationTest.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3PathMatchingResourcePatternResolverTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3ResourceIntegrationTests.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3TemplateIntegrationTests.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/sms/SnsSmsTemplateIntegrationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/BaseSqsIntegrationTest.java
Labels: component: cloudwatch, component: parameter-store, component: s3, component: secrets-manager, component: sns, component: sqs, component: dynamodb

#720 Consider batch size when switching throughput mode (#719)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/BatchAwareBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SemaphoreBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSource.java
Labels: component: sqs

#729 Upgrade AWS SDK
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfigurationTests.java
  spring-cloud-aws-dependencies/pom.xml
Labels: component: parameter-store, component: s3, component: secrets-manager, type: dependency-upgrade

#726 Add option to set DynamoDB table prefix.
  docs/src/main/asciidoc/dynamodb.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbProperties.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DefaultDynamoDbTableNameResolver.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbTemplate.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTableNameResolverTest.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
Labels: type: enhancement, component: dynamodb

#731 Add `spring-cloud-aws-test` to BOM.
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#734 Polish
  docs/src/main/asciidoc/_configprops.adoc
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbTemplate.java
Labels: type: documentation, component: dynamodb

#736 Fix Flaky SqsTemplateIntegrationTests
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsTemplateIntegrationTests.java
Labels: component: sqs

#735 Set version to 3.0.0-RC2
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3-parent/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
Labels: component: parameter-store, component: s3, component: secrets-manager, component: ses, component: sns, component: sqs, type: documentation, type: dependency-upgrade, component: core, component: dynamodb

#737 Back to snapshots
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3-parent/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
Labels: component: parameter-store, component: s3, component: secrets-manager, component: ses, component: sns, component: sqs, type: documentation, type: dependency-upgrade, component: core, component: dynamodb

#740 Improve Polling Behavior Tests (#739)
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SemaphoreBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSource.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSourceTests.java
Labels: component: sqs
