Repository awspring/spring-cloud-aws, pull requests merged in 2023-10, with the labels that each got.

#893 Add Validator setter in EndpointRegistrar
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/annotation/AbstractListenerAnnotationBeanPostProcessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/EndpointRegistrar.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/annotation/SqsListenerAnnotationBeanPostProcessorTests.java
Labels: component: sqs, type: documentation

#906 Fixes gh-697 Enhance SqsAutoConfiguration to use an available ObjectMapper
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
Labels: component: sqs

#918 Set version to 3.0.3-SNAPSHOT.
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3-parent/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
Labels: type: maintenance

#895 Update docs and labels to use correct casing for LocalStack
  README.md
  docs/src/main/asciidoc/core.adoc
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/test/java/io/awspring/cloud/s3/crossregion/CrossRegionS3ClientTests.java
  spring-cloud-aws-samples/readme.md
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/src/main/resources/application.yml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/src/main/resources/application.properties
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/src/main/resources/application.properties
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/BaseSqsIntegrationTest.java
Labels: type: documentation

#916 Upgrade spring-cloud-commons to 4.0.4
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#912 fix: S3 file listing if the prefix resolves to slash
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3PathMatchingResourcePatternResolver.java
Labels: type: bug, component: s3

#894 Adds array properties support to parameter store
  docs/src/main/asciidoc/parameter-store.adoc
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
  spring-cloud-aws-parameter-store/src/main/java/io/awspring/cloud/parameterstore/ParameterStorePropertySource.java
  spring-cloud-aws-parameter-store/src/test/java/io/awspring/cloud/parameterstore/ParameterStorePropertySourceTest.java
  spring-cloud-aws-samples/infrastructure/src/main/java/io/awspring/cloud/samples/infrastructure/InfrastructureStack.java
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/src/main/java/io/awspring/cloud/samples/parameterstore/SpringCloudAwsParameterStoreSample.java
Labels: component: parameter-store, type: enhancement

#919 Update Github actions to run build with Java 21.
  .github/workflows/build.yml
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#928 Log reason why retrieving secrets failed.
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStorePropertySources.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/secretsmanager/SecretsManagerPropertySources.java
Labels: component: parameter-store, component: secrets-manager

#930 Fix link to index page from appendix.
  docs/src/main/asciidoc/appendix.adoc
Labels: type: documentation

#932 Set more detailed data type on "timestamp" attribute in SNS message.
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/TopicMessageChannel.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/core/TopicMessageChannelTest.java
Labels: component: sns
