Repository awspring/spring-cloud-aws, pull requests merged in 2023-02, with the labels that each got.

#649 RelativeKey should not include / if no objectName.
  spring-cloud-aws-core/src/main/java/io/awspring/cloud/core/io/s3/SimpleStorageResource.java
  spring-cloud-aws-core/src/test/java/io/awspring/cloud/core/io/s3/SimpleStorageResourceTest.java
Labels: component: core

#651 Back to snapshots
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3-parent/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-codegen/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/pom.xml
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
Labels: component: parameter-store, component: s3, component: secrets-manager, component: ses, component: sns, component: sqs, type: documentation, type: dependency-upgrade, component: core, component: dynamodb

#652 Add `createRelative` method to `S3Resource`.
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/Location.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Resource.java
  spring-cloud-aws-s3-parent/spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3ResourceTests.java
Labels: component: s3

#653 Set version to 2.4.4
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-test/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: parameter-store, component: rds, component: secrets-manager, type: documentation, type: dependency-upgrade, component: core

#654 Back to snapshots
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-test/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-ses/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: parameter-store, component: rds, component: secrets-manager, type: documentation, type: dependency-upgrade, component: core

#656 Polish docs.
  docs/src/main/asciidoc/index.adoc
Labels: type: documentation

#661 Polish docs.
  docs/src/main/asciidoc/cloudformation.adoc
  docs/src/main/asciidoc/cognito.adoc
  docs/src/main/asciidoc/contributing.adoc
  docs/src/main/asciidoc/elasticache.adoc
  docs/src/main/asciidoc/ghpages.sh
  docs/src/main/asciidoc/images/cloud-environment-instance-tags.png
  docs/src/main/asciidoc/images/cloud-environment-user-data.png
  docs/src/main/asciidoc/images/cloudformation-overview.png
  docs/src/main/asciidoc/images/graphics.graffle
  docs/src/main/asciidoc/images/jdbc-retry-interceptor.png
  docs/src/main/asciidoc/images/overview.png
  docs/src/main/asciidoc/images/sns-overview.png
  docs/src/main/asciidoc/index.adoc
  docs/src/main/asciidoc/rds.adoc
Labels: type: documentation

#665 Fix generating aggregated Javadocs.
  pom.xml
Labels: type: dependency-upgrade

#677 Remove "enabled" from Parameter Store and Secrets Manager docs.
  docs/src/main/asciidoc/migration.adoc
  docs/src/main/asciidoc/parameter-store.adoc
  docs/src/main/asciidoc/secrets-manager.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreMissingKeysFailureAnalyzer.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsTemplateIntegrationTest.java
Labels: component: parameter-store, component: sns, type: documentation

#680 Add support for indexes in scans and queries in DynamoDbTemplate
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbOperations.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbTemplate.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/PersonEntity.java
Labels: component: dynamodb
