Repository awspring/spring-cloud-aws, pull requests merged in 2024-02, with the labels that each got.

#1034 Fix default value for Acknowledgement Shutdown Timeout and Listener Shutdown Timeout in docs
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptionsBuilder.java
Labels: component: sqs, type: documentation

#1030 Fix time unit in log message for slow acknowledgements
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/acknowledgement/SqsAcknowledgementExecutor.java
Labels: component: sqs

#1008 Add BackOff when SQS Poll throws an exception
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/AbstractContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSource.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/ContainerOptionsTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSourceTests.java
Labels: component: sqs, type: documentation

#1038 Add Missing Synchronization in Ack Buffer Access
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/acknowledgement/BatchingAcknowledgementProcessor.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
Labels: component: sqs

#1039 #1004 Parameter Store flag
  docs/src/main/asciidoc/parameter-store.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoader.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLocationResolver.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataResource.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/config/parameterstore/ParameterStoreConfigDataLoaderIntegrationTests.java
Labels: component: parameter-store, type: documentation

#1032 docs: Add parameter store migration info
  docs/src/main/asciidoc/migration.adoc
Labels: type: documentation
