Repository awspring/spring-cloud-aws, pull requests merged in 2025-08, with the labels that each got.

#1432 SQS 3.4.0+: fix Visibility Timeout Extension Interceptor
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/sink/adapter/MessageVisibilityExtendingSinkAdapter.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsFifoIntegrationTests.java
Labels: component: sqs

#1414 Set version to 4.0.0-SNAPSHOT
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-docker-compose/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-modulith/pom.xml
  spring-cloud-aws-modulith/spring-cloud-aws-modulith-events-sns/pom.xml
  spring-cloud-aws-modulith/spring-cloud-aws-modulith-events-sqs/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-docker-compose-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
  spring-cloud-aws-testcontainers/pom.xml
Labels: component: parameter-store, component: secrets-manager, component: ses, component: sns, component: sqs, type: documentation, type: dependency-upgrade, component: core, component: dynamodb

#1413 Upgrade to Spring Boot 4.0.0 and Spring Cloud 5.0.0.
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/endpoint/SnsControllerMappingReflectiveProcessorTest.java
Labels: type: dependency-upgrade

#1437 Delete .DS_Store
  docs/src/main/.DS_Store
Labels: type: maintenance

#1445 Fix compilation issues and imports after upgrading to Spring Boot 4.0
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/metrics/CloudWatchExportAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/metrics/CloudWatchPropertiesConfigAdapter.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/metrics/CloudWatchRegistryProperties.java
  spring-cloud-aws-test/pom.xml
  spring-cloud-aws-test/src/main/resources/META-INF/spring/io.awspring.cloud.test.sqs.AutoConfigureSqs.imports
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/SqsTestListenersDefinedTest.java
  spring-cloud-aws-test/src/test/java/io/awspring/cloud/test/sqs/SqsTestNoListenersDefinedTest.java
Labels: component: cloudwatch
