Repository awspring/spring-cloud-aws, pull requests merged in 2025-02, with the labels that each got.

#1330 Set S3AsyncClient endpoint from localstack if available in tests
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfiguration.java
  spring-cloud-aws-testcontainers/pom.xml
  spring-cloud-aws-testcontainers/src/test/java/io/awspring/cloud/testcontainers/AwsContainerConnectionDetailsFactoryTest.java
Labels: type: bug, component: s3

#1337 Fix the capitalization of property for `S3EncryptionConditional.KmsKeyProperty`
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3EncryptionConditional.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfigurationTests.java
Labels: component: s3

#1338 Polish S3 encryption docs.
  docs/src/main/asciidoc/s3.adoc
Labels: type: documentation

#1351 Fix generating aggregated Javadocs.
  Makefile
  pom.xml
Labels: type: dependency-upgrade

#1352 Set version to 3.4.0-SNAPSHOT
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-docker-compose/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-modulith/pom.xml
  spring-cloud-aws-modulith/spring-cloud-aws-modulith-events-sns/pom.xml
  spring-cloud-aws-modulith/spring-cloud-aws-modulith-events-sqs/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-docker-compose-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
  spring-cloud-aws-testcontainers/pom.xml
Labels: component: parameter-store, component: secrets-manager, component: ses, component: sns, component: sqs, type: documentation, type: dependency-upgrade, component: core, component: dynamodb

#1348 Document incompatibility of Spring Boot DevTools with @SqsListener (#657)
  docs/src/main/asciidoc/sqs.adoc
Labels: type: documentation
