Repository awspring/spring-cloud-aws, pull requests merged in 2025-05, with the labels that each got.

#1370 ImmediateRetryAsyncErrorHandler changes msg visibility timeout to zero. (#1314)
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/errorhandler/ImmediateRetryAsyncErrorHandler.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsErrorHandlerIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/errorhandler/ImmediateRetryAsyncErrorHandlerTests.java
Labels: component: sqs, type: documentation

#1382 Document SqsTemplate sendMany() 10-messages limitation
  docs/src/main/asciidoc/sqs.adoc
Labels: type: documentation

#1383 SQS: Properly handle `Error`s in listeners
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/adapter/AbstractMethodInvokingListenerAdapter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/adapter/AsyncMessagingMessageListenerAdapter.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/adapter/AbstractMethodInvokingListenerAdapterTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/adapter/AsyncMessagingMessageListenerAdapterTests.java
Labels: component: sqs

#1381 Add `ExponentialBackoffErrorHandler` to manage message visibility tim…
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/Visibility.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/errorhandler/ErrorHandlerVisibilityHelper.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/errorhandler/ExponentialBackoffErrorHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/errorhandler/ImmediateRetryAsyncErrorHandler.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsErrorHandlerIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/errorhandler/ErrorHandlerVisibilityHelperTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/errorhandler/ExponentialBackoffErrorHandlerTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/errorhandler/ImmediateRetryAsyncErrorHandlerTests.java
Labels: component: sqs, type: documentation

#1380 Ability to override separator in DefaultDynamoDbTableNameResolver
  docs/src/main/asciidoc/dynamodb.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/dynamodb/DynamoDbProperties.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DefaultDynamoDbTableNameResolver.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTableNameResolverTest.java
Labels: type: documentation, component: dynamodb

#1390 Fix setting endpoint from connection details to `S3Presigner`.
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3AutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfiguration.java
  spring-cloud-aws-testcontainers/src/test/java/io/awspring/cloud/testcontainers/AwsContainerConnectionDetailsFactoryTest.java
Labels: component: s3

#1391 Polish docs and formatting
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/s3.adoc
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3/S3CrtAsyncClientAutoConfiguration.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DefaultDynamoDbTableNameResolver.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/adapter/AbstractMethodInvokingListenerAdapterTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/adapter/AsyncMessagingMessageListenerAdapterTests.java
Labels: component: s3, component: sqs, type: documentation, component: dynamodb

#1369 Observability Support for SQS
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/sqs/SqsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/io/awspring/cloud/autoconfigure/sqs/SqsAutoConfigurationTest.java
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/ExceptionUtils.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/MessageHeaderUtils.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/AbstractContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/AbstractPipelineMessageListenerContainer.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/AsyncComponentAdapters.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ObservableComponent.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsMessageListenerContainer.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/sink/AbstractMessageProcessingPipelineSink.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/sink/adapter/AbstractDelegatingMessageListeningSinkAdapter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/AbstractMessagingTemplate.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/MessagingTemplateOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/SqsTemplate.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/operations/SqsTemplateOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/observation/AbstractListenerObservation.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/observation/AbstractTemplateObservation.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/observation/MessageHeaderContextAccessor.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/observation/SqsListenerObservation.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/support/observation/SqsTemplateObservation.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/ExceptionUtilsTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/MessageHeaderUtilsTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsFifoIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsObservationIntegrationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/AsyncComponentAdaptersTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/ContainerOptionsTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/SqsMessageListenerContainerTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/sink/AbstractMessageProcessingPipelineSinkObservationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/sink/MessageGroupingSinkTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/sink/OrderedMessageListeningSinkTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/sink/adapter/AbstractDelegatingMessageListeningSinkAdapterObservationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/operations/SqsTemplateObservationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/support/observation/AbstractTemplateObservationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/support/observation/MessageHeaderContextAccessorTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/support/observation/SqsListenerObservationTest.java
Labels: component: sqs, type: documentation

#1393 Update Spring dependencies
  spring-cloud-aws-dependencies/pom.xml
Labels: type: dependency-upgrade

#1396 Include IMDS starter in parent pom.
  pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-imds/pom.xml
Labels: type: dependency-upgrade

#1395 Set version to 3.3.1
  docs/pom.xml
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-docker-compose/pom.xml
  spring-cloud-aws-dynamodb/pom.xml
  spring-cloud-aws-modulith/pom.xml
  spring-cloud-aws-modulith/spring-cloud-aws-modulith-events-sns/pom.xml
  spring-cloud-aws-modulith/spring-cloud-aws-modulith-events-sqs/pom.xml
  spring-cloud-aws-parameter-store/pom.xml
  spring-cloud-aws-s3/pom.xml
  spring-cloud-aws-samples/infrastructure/pom.xml
  spring-cloud-aws-samples/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-docker-compose-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-dynamodb-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-parameter-store-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-s3-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-ses-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sns-sample/pom.xml
  spring-cloud-aws-samples/spring-cloud-aws-sqs-sample/pom.xml
  spring-cloud-aws-secrets-manager/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-dynamodb/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-imds/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-metrics/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-parameter-store/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-s3/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-secrets-manager/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-ses/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sns/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter-sqs/pom.xml
  spring-cloud-aws-starters/spring-cloud-aws-starter/pom.xml
  spring-cloud-aws-test/pom.xml
  spring-cloud-aws-testcontainers/pom.xml
Labels: component: parameter-store, component: secrets-manager, component: ses, component: sns, component: sqs, type: documentation, type: dependency-upgrade, component: core, component: dynamodb
