Repository awspring/spring-cloud-aws, pull requests merged in 2025-09, with the labels that each got.

#1455 fix: polling future removed on exception
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSource.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSourceTests.java
Labels: component: sqs

#1467 Add Spring Integration channel adapter for SQS
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-sqs/pom.xml
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/integration/SqsMessageDrivenChannelAdapter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/integration/SqsMessageHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsHeaders.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageDrivenChannelAdapterTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageHandlerTests.java
  spring-cloud-aws-starters/spring-cloud-aws-starter-integration-sqs/pom.xml
Labels: component: sqs, type: documentation, type: dependency-upgrade

#1448 feat(1447): Implementing DynamoDb update partial using UpdateItemEnhancedRequest
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbOperations.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbTemplate.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
Labels: component: dynamodb

#1468 Fix formatting
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/LocalstackContainerTest.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/integration/SqsMessageDrivenChannelAdapter.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/integration/SqsMessageHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SqsHeaders.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/BaseSqsIntegrationTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageDrivenChannelAdapterTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsMessageHandlerTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSourceTests.java
Labels: component: sqs, component: dynamodb

#1443 feat: add listAllObjects method to S3Template
  spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Operations.java
  spring-cloud-aws-s3/src/main/java/io/awspring/cloud/s3/S3Template.java
  spring-cloud-aws-s3/src/test/java/io/awspring/cloud/s3/S3TemplateIntegrationTests.java
Labels: component: s3

#1371 Add conditional save, update and delete operation support for DynamoDB entities. Fixes #gh-1147
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbOperations.java
  spring-cloud-aws-dynamodb/src/main/java/io/awspring/cloud/dynamodb/DynamoDbTemplate.java
  spring-cloud-aws-dynamodb/src/test/java/io/awspring/cloud/dynamodb/DynamoDbTemplateIntegrationTest.java
Labels: component: dynamodb

#1469 Refine BackPressureHandlerFactories API; clarify backpressure archite…
  docs/src/main/asciidoc/sqs.adoc
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/AbstractContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/AbstractPipelineMessageListenerContainer.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/BackPressureHandlerFactories.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/BatchAwareBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptions.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/ContainerOptionsBuilder.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/SemaphoreBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/backpressure/BackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/backpressure/BackPressureHandlerFactories.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/backpressure/BackPressureHandlerFactory.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/backpressure/BatchAwareBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/backpressure/CompositeBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/backpressure/ConcurrencyLimiterBlockingBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/backpressure/FullBatchBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/backpressure/ThroughputBackPressureHandler.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSource.java
  spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/source/PollingMessageSource.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/integration/SqsBackPressureIntegrationTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/CompositeBackPressureHandlerTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/ConcurrencyLimiterBlockingBackPressureHandlerTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/FullBatchBackPressureHandlerTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/ThroughputBackPressureHandlerTest.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/source/AbstractPollingMessageSourceTests.java
  spring-cloud-aws-sqs/src/test/java/io/awspring/cloud/sqs/listener/source/SemaphoreBackPressureHandlerAbstractPollingMessageSourceTests.java
Labels: component: sqs, type: documentation

#1473 Add Spring Integration channel adapters for SNS
  docs/src/main/asciidoc/sns.adoc
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-sns/pom.xml
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/SnsAsyncTopicArnResolver.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/core/SnsHeaders.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/integration/SnsBodyBuilder.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/integration/SnsHeaderMapper.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/integration/SnsInboundChannelAdapter.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/integration/SnsMessageHandler.java
  spring-cloud-aws-sns/src/main/java/io/awspring/cloud/sns/integration/SnsRequestFailureException.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsBodyBuilderTests.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsInboundChannelAdapterTests.java
  spring-cloud-aws-sns/src/test/java/io/awspring/cloud/sns/integration/SnsMessageHandlerTests.java
  spring-cloud-aws-starters/spring-cloud-aws-starter-integration-sns/pom.xml
Labels: component: sns, type: documentation, type: dependency-upgrade
